.popup {
  position: fixed;
  width: 50%;
  height: 50%;
  margin-top: 5%;
  margin-bottom: 50%;
  margin-right: 8%;
  margin-left: 8%;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: grey;
  border-radius: 10px;

  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 30px;
  background: rgb(39, 19, 19);
}
